<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 m-auto">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center mt-3">註冊</h1>
          {{> message}}
          <form action="/user/register" method="POST">
            <div class="mb-3">
              <label for="name" class="form-label">名字</label>
              <input id="name" class="form-control" type="text" name="name" placeholder="Enter Name" value="{{body.name}}">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">信箱 <span class="text-danger">*</span></label>
              <input id="email" class="form-control" type="email" name="email" placeholder="Enter Email" value="{{body.email}}">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">密碼 <span class="text-danger">*</span></label>
              <input id="password" class="form-control" type="password" name="password" placeholder="Enter Password" value="{{body.password}}">
            </div>
            <div class="mb-3">
              <label for="confirmPassword" class="form-label">確認密碼 <span class="text-danger">*</span></label>
              <input id="confirmPassword" class="form-control" type="password" name="confirmPassword" placeholder="Confirm Password" value="{{body.confirmPassword}}">
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary btn-block" type="submit">登入</button>
              <a class="btn btn-danger btn-block" href="/auth/google">Google</a>
            </div>
          </form>
          <p class="mt-4">
            已經有帳號了? <a href="/user/login">登入</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
