form .formGroup {
  justify-content: center;
}
form .formGroup label {
  padding: 7px 12px;
}
form input[type=number]::-webkit-inner-spin-button, 
form input[type=number]::-webkit-outer-spin-button {
  display: none;
}
